<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <title>{==global.appName==} || {==global.companyName==}</title>
    <base href="{==global.baseUrl==}" />

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Option js -->
    <link rel="stylesheet" type="text/css" href="public/style.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="public/app.js"></script>
</head>
<body class="{==body.class==}">

<div id="full-loading" class="load-wrapper">
    <div class="appCss-loader">
        <div class="appCss-loader__bar"></div>
        <div class="appCss-loader__bar"></div>
        <div class="appCss-loader__bar"></div>
        <div class="appCss-loader__bar"></div>
        <div class="appCss-loader__bar"></div>
        <div class="appCss-loader__ball"></div>
    </div>
</div>
